@use './reset.scss';

/* Add your css here */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.h-container{
    display: flex;
    justify-content: space-around;
    height: 100%;
    
    
    .head-item-1{
        height: 50%;
        a{
            color: black;
        }
    }
    .head-item-2{
        ul{
           display: flex;
           justify-content: flex-end
           justify-content: flex-end;
          a{
             color: black;
           }
           
           #nav_item_1{
              flex: 1;
              margin-right: 10px;
              img{
                  height: 30px;
                  width: 30px;
              }
           }
           #nav_item_2{
              flex: 1;
              margin-right: 10px;
              img{
                height: 30px;
                width: 30px;
            }

           }
           #nav_item_3{
              flex: 1;
              img{
                height: 30px;
                width: 30px;
            }
           }
      }
  } 
}
.login-container{
    #login-navigation{
        margin-right: 250px;
        float: right;
        
        .login-item-1{
            margin-right: 40px;
            color: whitesmoke;
        }
        .login-item-2{
            color: whitesmoke;
            border: 2px solid white;
        }
        
    }
}
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../icons/bg.jpg");
    height: 500px;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    figure{
        
      img{
          text-align: center;
          position: absolute;
          top: 20%;
          left: 45%;
          height: 100px;
          width:100px;
      }
      #banner-text{
          text-align: center;
          font-weight: 600;
          font-size: 23px;
          position: absolute;
          top: 50%;
          left: 25%;
          color:white;
      }
    }
    .search-restaurant{
        text-align: center;
        position: absolute;
         top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        input#search-rest{
            width: 300px;
            
        }
        .search-btn{
            border-radius: 5px;
            background-color: #f44336;
            color: white;
            cursor: pointer;
            padding: 0px 10px;
            border: 2px solid white; 
            &:hover{
                background: #da190b;
            }
        }

    }
}
.container{
    background-color: #ccfff5;
}
.collection-box{
    img{
        height: 60%;
        width: 80%;
    }
    .collection-text{
        #collection-image{

            img{
                height: 100%;
                width:100%;
            }
            .card-body{
                height:70%;
            }
        }
    }
}
.widget{
    border: 1px solid black;
    padding: 15px;
    background-color: cornsilk;
    input#search-del{
        width: 75%;
        border: 1px solid black;
        border-radius: 5px;
        height: 35px;
    }
    
    .detect-btn{
        border-radius: 10px;
        padding: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        &:hover{
            background-color: #46a049;
        }
    }
    .order-btn{
        margin-top: 10px;
        border-radius: 10px;
        padding: 5px;
        display: block;
        width: 100%;
        background-color: #099E44;
        color: #FFF;
        text-shadow: none;
        cursor: pointer;
        &:hover{
            background-color: #46a049;
        }
    }    
}
.categories{
    .search-category{
        
      .category-list{
          list-style: none;
          display: flex;
          justify-content: space-between;
          text-align: center;
        
        
             img{
                 height: 50px;
                 width: 50px;
             }
             p{
                display: inline;
                                
             }
            
         
        
      } 

      }
    }
    .localities{
        .locality-flex{
            display: flex;
            justify-content: space-around;
            .locality-box1{
               .locality-list{
                   text-align: center;
                   font-size: smaller;
                   font-weight: bold;
               }

            }   
           .locality-box2{
              .locality-list2{
                   text-align: center;
                   font-size: smaller;
                   font-weight: bold;
               }
           }
           .locality-box3{
              
              .locality-list3{
                   text-align: center;
                   font-size: smaller;
                   font-weight: bold;
              }
           } 
        }  
    }
    #zomato-app{
        text-align: center;
        #app-item1{
            padding: 40px; 
            img{
                height:350px;
                width:300px;
            }
            
        }
        #app-item2{
            padding-left: 40px;
            #app-body{
                .detail-form{
                    #app-link-btn{
                        padding: 5px 15px;
                        background-color: #4CAF50;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover{
                            background-color: #46a049;

                        }
                    
                    }
                    #email-btn{
                        padding: 5px 15px;
                        background-color: #4CAF50;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover{
                            background-color: #46a049;

                        }
                    }
                    
                }
                
            }
        }
        
    }
    .figures{
        ul{
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-weight: lighter;
            opacity: 0.6;
        }
    }
    footer{
        height: auto;
        .footer-title{
            padding: 10px;
            display: flex;
            justify-content: space-between;
            .footer-title-img{
                height: 70px;
                width: 70px;
            }
        }
        .footer-wrapper{
            .footer-list{
                list-style: none;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .footer-list1{
                    
                    .footer-list-item1{
                       list-style: none;
                       
                  }
                  a{
                    color: white;
                  }
                }
                .footer-list2{
                    flex: none;
                    a{
                        color: white;
                    }
                }
                .footer-list3{
                    flex: none;
                    text-decoration: none;
                    a{
                        color: white;
                    }
                    
                }
                .footer-list4{
                    flex: none;
                    a{
                        color: white;
                    }
                                   
                  .country{
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: space-between;
                  }
                }  
            }    
        }
        .footer_reference{
               padding-top: 25px;
               display: flex;
               justify-content: space-between;
               .policies{
                    flex:1;
                    
                    ul{
                        display: flex;
                        justify-content: space-between;
                        a{
                            color: white;
                        }
                    }
               }
               .social{
                    flex: 1;
                    ul{
                        display: flex;
                        justify-content: flex-end;
                        
                        li{
                            text-align: center;
                            font-size: x-small;
                            padding: 5px;
                        }
                    }
               }
        }
    }


@media screen and (max-width:600px){
    .head-item-2{
        ul{
          
          flex-direction: column;
          #nav_item_1{
              
              
              img{
                  height: 5px;
                  width: 2px;
              }
          }
        }
    }
    .login-container{
        #login-navigation{    
           float: none;
           width: 100%;
           margin: auto;
        }
    }
      .banner{
           position: relative;
          figure{
               img{
               text-align: center;
               position: absolute;
               left: 35%;
              }
              #banner-text{
               text-align: center;
               font-weight: 600!important;
               margin: 5px;
               position: absolute;
               top: 50%;
               left: 0;
               right:0;
               font-size: 25px;
              }   
              
          }
          .search-restaurant{
              padding-top: 80px;
              #dropdownMenuButton{
                margin-top: 10px;
              }
              #search-rest{
                  margin-top: 10px;
              }
              .search-btn{
                display: block;
                width: 100%;
                border: none;
                margin-top: 10px;
              }
          }
      }  
      .widget{
          margin:auto;
         
      }
      .collection-box{
          margin: auto;
          .collection-text{
              .collection-image{
                  img{
                      height: 200px;
                      width: 200px;
                  }
              }
          }
      }
      .categories{
        .search-category{
            
          .category-list{
               padding: 10px;
               flex-wrap: wrap;
          }
        }
    }   
    .localities{
        .locality-flex{
            flex-direction: column;
        }
    }
    #zomato-app{
        #app-item1{
            img{
                height:100px;
                width: 100px;
            }
        }
    }
    .figures{
        ul{
            flex-wrap: wrap;
        }
    }
    footer{
        height: auto;
        .footer-wrapper{
            .footer-list{
                .footer-list4{
                    .country{
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                }
            }
        }
        .footer_reference{
            .policies{
                ul{
                  flex-direction: column;
                }  
            }
            .social{
                ul{
                  flex-direction: column;
                }
            }
        }
    }        

   
    
      
 }